<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</head>
<body>
    <div class="bg-color-primary">
        <h2 class="bg-primary text-white text-center py-5">Novo Cadastro</h2>
    </div>
    <div class="container mt-5 py-2 bg-color-primary">
        <form action="/cadastrar" method="post" name="cad" id="cad">
            <div class="mb-3">
                <label for="nome" class="form-label">Nome:</label>
                <input type="text" name="nome" id="nome" class="form-control" required/>
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">E-mail:</label>
                <input type="email" name="email" id="email" class="form-control" required/>
            </div>
            <div class="mb-3">
                <label for="senha" class="form-label">Senha:</label>
                <input type="password" name="senha" id="senha" class="form-control" required/>
            </div>
            <div class="mb-3">
                <label for="confSenha" class="form-label">Confirmar Senha:</label>
                <input type="password" name="confSenha" id="confSenha" class="form-control" required/>
            </div>
            <div class="mb-3">
                <label for="genero_fav" class="form-label">Gênero Favorito:</label>
                <select name="genero_fav" id="genero_fav" class="form-select">
                    <option value="" selected="selected"> -- Selecione --</option>
                    <option value="fantasia">Fantasia</option>
                    <option value="ficcao-cientifica">Ficção Científica</option>
                    <option value="romance">Romance</option>
                    <option value="aventura">Aventura</option>
                    <option value="mistério">Mistério</option>
                    <option value="terror">Terror</option>
                    <option value="biografia">Biografia</option>
                    <option value="autoajuda">Autoajuda</option>
                    <option value="historia">História</option>
                    <option value="drama">Drama</option>
                    <option value="poesia">Poesia</option>
                    <option value="classicos">Clássicos</option>
                    <option value="romance-policial">Romance Policial</option>
                    <option value="juvenil">Juvenil</option>
                    <option value="literatura-infantojuvenil">Literatura Infantojuvenil</option>
                </select>
            </div>
            <button type="submit" id="cadastrar" name="cadastrar" class="btn btn-primary">CADASTRAR</button>
        </form>
        <br/>
        <p><a href="/login" class="btn btn-secondary">Voltar</a></p>
    </div>

    <footer class="bg-color-primary py-5">
    </footer>
    <script src="/js/scriptCad.js"></script>
</body>
</html>
